<div>
    <!-- tên form: #tenForm="ngForm" 
     bắt sự kiện submit: (ngSubmit)="tenHam(data)"
     data: dữ liệu ng dùng nhập vào form => tenForm.value -->
    <form 
        #create="ngForm" 
        (ngSubmit)="onCreate(create.value)"
        class="form-group"
    >
        <div>
            <label class="form-label" for="">Mã SV</label>
            <input class="form-control" type="text" name="maSv" ngModel>
        </div>
        <div>
            <label class="form-label" for="">Tên</label>
            <input class="form-control" type="text" name="ten" ngModel>
        </div>
        <div>
            <label class="form-label" for="">Email</label>
            <input class="form-control" type="text" name="mail" ngModel>
        </div>
        <div>
            <label class="form-label" for="">Ngành</label>
            <select class="form-control" name="nganh" ngModel>
                <option value="Web">Web</option>
                <option value="Mobile">Mobile</option>
                <option value="Design">Design</option>
                <option value="Marketing">Marketing</option>
            </select>
        </div>
        <div>
            <label class="form-label" for="">Ảnh</label>
            <input class="form-control" type="text" name="anh" ngModel>
        </div>
        <div>
            <label class="form-label" for="">Điểm</label>
            <input class="form-control" type="number" name="thi" ngModel>
        </div>
        <button type="submit" class="btn btn-success mt-2">Thêm mới</button>
    </form>
</div>
